.profile-posts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.profile-posts-list > * {
    padding: 1rem;
    
}

@media (max-width: 768px) {
    .profile-posts-list {
        display: block;
    }
}